<TMPL_INCLUDE NAME="header-popup.tmpl">

<TMPL_IF NAME=UPDATED>
	<h4 class="message" style="font-family:tahoma">
		<img valign="bottom" src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/success.gif" height="9" width="9" alt="" />&nbsp;
		<MT_TRANS phrase="Your plugin, successfully, updated!">
	</h4>
	<input type="button" onclick="window.close()" value="<MT_TRANS phrase="Close">" />
</TMPL_IF>


<TMPL_INCLUDE NAME="footer-popup.tmpl">